# Blockchain RPC Provider URL (Radius Testnet or Mainnet)
RPC_PROVIDER_URL= https://testnet-rpc.radius.systems

# Agent Wallet Address (The wallet receiving payments)
COMPANY_WALLET= 0x9fA3716265b4AA22b41D46bD6a81A8FfE5C8b416

# Port for the server to run on
PORT=3000